@use '../../../shared/mixins.scss' as mixins;
@use '../../../shared/global.scss';

.todosView {
  @include mixins.reset;
  position: relative;
  height: 100vh;
  padding: 0 10px;
  font-family: var(--font-family);
  background-color: var(--body-bg-color);
  z-index: 1;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    @include mixins.reset;
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    font-weight: 100;
    color: var(--title-text-color);
  }

  &__container {
    position: relative;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px -10px rgba(0, 0, 0, 0.1);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--list-bg-color);
      z-index: -1;
      border: 1px solid var(--border-color);
    }

    &::before {
      transform: translate(10px, 10px);
      width: calc(100% - 20px);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    &::after {
      transform: translate(5px, 5px);
      width: calc(100% - 10px);
    }
  }

  &__inputContainer {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 15px 10px;
    background-color: var(--list-bg-color);
    border-bottom: 2px solid var(--border-color);
  }

  &__input {
    @include mixins.reset;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    font-weight: 400;
    color: var(--active-text-color);
    border: none;
    width: 100%;

    &__icon {
      color: var(--inactive-text-color);
    }

    &::placeholder {
      color: var(--inactive-text-color);
      font-style: italic;
    }
  }

  &__footer {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--list-bg-color);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: 400;
    color: var(--footer-text-color);

    @include mixins.respondTo(small) {
      padding: 5px;
    }
  }

  &__clearButton {
    @include mixins.reset;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: 400;
    color: var(--footer-text-color);
    border: none;
    cursor: pointer;

    &:hover {
      background: var(--hover-bg-color);
      color: var(--white-text-color);
    }
  }
}
