@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@mixin respondTo($size) {
  @if $size == xsmall {
    @media (max-width: 374px) {
      @content;
    }
  } @else if $size == small {
    @media (max-width: 480px) {
      @content;
    }
  }
}